.UserBlock {
  /* position: absolute; */
}

.UserProfileBlock {
  height: 350px;
  background-color: #1F2250;
  width: 100vw;
  position: relative;
  top: 0;
  left: 0;
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
  background-attachment: fixed !important;
}

.UserProfileWrapper {
  position: absolute;
  bottom: 0;
  display: block;
  margin: 0 auto;
  width: 100%;
}

.UserProfileFlex {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 1800px;
  margin: 0 auto;
  border-radius: 25px 25px 0 0;
  background: rgba(0, 0, 9, 0.6);
  /* background-color: #000; */
}

.UserBlockName {
  font-family: Radiance;
  font-size: 1.6em;
  color: #fefefe;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

.UserBlockName h3 {
  padding: 5px 20px 5px 0;
  margin-left: 35px;
  margin-bottom: 3px;
  /* background: #6a5acd; */
  /* background: #6655ff; */
  background: #383E7A;
  padding-left: 15px;
  border-radius: 15px 0 0 15px;
  box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.3);
}

/* .UserBlockImage {
} */

.UserProfileImage {
  background-color: #1e2328;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  border: 5px solid #3B417B;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
  z-index: 100;
  position: relative;
  object-fit: cover;
}

.UserBlockImage {
  z-index: 1;
  padding-left: 24px;
}

.UserBlockImage > div {
  position: relative;
  transform: translateY(25%);
}

.Tags {
  display: flex;
  justify-content: left;
  margin-left: 34px;
}

.Tag {
  font-size: 12px;
  padding: 3.5px;
  margin: 6px 4px 6px 4px;
  cursor: pointer;
  color: #fefefe;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 1px;
}

@media screen and (max-width: 1899px) {
  .UserProfileFlex {
    width: 85%;
  }
}
